@import url("css_reset.css");

body {
  background-color: #ffffff;
  font: 16px Helvetica, Arial, sans-serif;
  color: #000000;
  line-height: 1.5em;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  background-color: #eeeeee;
}

main {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  padding: 25px 0;
}

main {
    padding: 50px 0 0 0;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  color: #777777;
  padding: 15px 0;
  text-align: center;
}

h3 {
    font-size: 18px;
    text-align: center;
}

p {
    margin: 20px;
}

footer {
  background-color: #eeeeee;
}

ul {
    text-align: left;
    list-style-type: disc;
    margin: 0 100px;
}

li {
    margin: 5px 0;
}